--- 
import Image from "astro/components/Image.astro";
import Boton3 from "./Boton3.astro";
import '../css/card.css';

const { numero, descripcion, href, proyecto} = Astro.props
---

<li class="link-card">
	<div class="content">
		<h2>
			{numero}
		</h2>
		<p>{descripcion}</p>
		<div class="box-img">
			<Image class="preview" alt="project preview" title={numero} loading="lazy" decoding="async" src={proyecto}></Image>
		</div>
	</div>

	<Boton3 href={href}></Boton3>
	
</li>
